.make-appoinment{
    background-image: url('../../../images/appointmentbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
    margin-top: 150px !important;
    color: white !important;
    z-index: -2;
}
.make-appoinment::before{
    content: '';
    background: rgb(36, 41, 73);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    opacity: 0.8;
    top: 0;
    z-index: -1;
    
}

.make-appoinment img{
    height: 550px;
    transform: translateY(-130px);
}